{% extends "base.html" %}
{% block body%}
<section class="not-found">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="code">
							500
						</div>
						<h1>Internal Server Error</h1>
						<p class="lead">Something has happened and we are fixing it, come back later.</p>
						<div class="search-form">
							<form class="search" action="{{ url_for('api.search2') }}" autocomplete="off" method="post">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
								<div class="form-group">
									<div class="input-group">
										<input type="text" name="q" class="form-control" placeholder="Type something ...">
										<div class="input-group-btn">
											<button class="btn btn-primary">Search</button>
										</div>
									</div>
								</div>
							</form>
							<div class="link">
								or <a href="{{ url_for('main.home') }}">back to home</a>.
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
{% endblock body%}
