<!DOCTYPE html>
{% from "helpers.html" import input %}
<html lang="zh-CN">
<head>
    <link rel="shortcut icon" href="/static/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-3.3.7/css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pygments.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mystyle.css') }}">
    <title>Memeto</title>
</head>

<body>
<!-- Fixed navbar -->
<div class="nav-masthead">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Memento</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#index">Index</a></li>
                    <li><a href="#tags">Tags</a></li>
                    <li><a href="#search">Search</a></li>
                    <li><a href="{{ url_for('main.about')}}">About</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if not current_user.username %}
                    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                    <li><a href="#">Register</a></li>
                    {% else %}
                    <li><a href="#">Welcome {{ current_user.username }}!</a></li>
                    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                    {% endif %}
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-10">
            {% block header %}
            <div class="page-header">
                <h1>{% block title %}{{ page.title }}{% endblock title %}</h1>
            </div>
            {% endblock header %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            {% if form and form.errors %}
            <div class="alert alert-error">Errors occured verifying your input. Please check the marked fields below.
            </div>
            {% endif %}
            {% block content %}
            {% endblock content %}
        </div>
        <div class="col-md-3">
            {% block sidebar %}
            {% endblock sidebar %}
        </div>
    </div>
</div>
<footer class="main-footer">
      <p>Memento project built by <a href="https://threefish.xyz">ThreeFish</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
</footer>

<script type="text/javascript" src="{{ url_for('static', filename='jquery-3.2.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='ajaxfileupload.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='bootstrap-3.3.7/js/bootstrap.min.js') }}"></script>
<script type="text/javascript">
    $(function(){
    function footerPosition(){
        $("footer").removeClass("fixed-bottom");
        var contentHeight = document.body.scrollHeight,//网页正文全文高度
            winHeight = window.innerHeight;//可视窗口高度，不包括浏览器顶部工具栏
        if(!(contentHeight > winHeight)){
            //当网页正文高度小于可视窗口高度时，为footer添加类fixed-bottom
            $("footer").addClass("fixed-bottom");
        }
    }
    footerPosition();
    $(window).resize(footerPosition);
});
    {% block postscripts %}{% endblock postscripts %}
</script>
</body>
</html>
