<!DOCTYPE html>
{% from "helpers.html" import input %}
<html lang="zh-CN">
<head>
    <link rel="shortcut icon" href="/static/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-3.3.7/css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pygments.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mystyle.css') }}">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    {% block header_css %}{% endblock header_css %}
    <title>Memeto</title>
</head>

<body>
<!-- Fixed navbar -->
<div class="nav-masthead">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main.home') }}">Memento</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {% if request.path == '/' %}
                    <li class="active"><a href="{{ url_for('main.home') }}">Home</a></li>
                    {% else %}
                     <li><a href="{{ url_for('main.home') }}">Home</a></li>
                    {% endif %}
                    {% if request.path == '/branch' %}
                    <li class="active"><a href="{{ url_for('main.branch') }}">Branch</a></li>
                    {% else %}
                     <li><a href="{{ url_for('main.branch') }}">Branch</a></li>
                    {% endif %}
                    {% if request.path == '/tags' %}
                    <li class="active"><a href="{{ url_for('main.tags') }}">Tags</a></li>
                    {% else %}
                     <li><a href="{{ url_for('main.tags') }}">Tags</a></li>
                    {% endif %}
                    {% if request.path == '/mindmap' %}
                    <li class="active"><a href="{{ url_for('main.mindmap') }}">MindMap</a></li>
                    {% else %}
                     <li><a href="{{ url_for('main.mindmap') }}">MindMap</a></li>
                    {% endif %}
                    {% if request.path == '/about' %}
                    <li class="active"><a href="{{ url_for('main.about') }}">About</a></li>
                    {% else %}
                    <li><a href="{{ url_for('main.about') }}">About</a></li>
                    {% endif %}
                    <li class="divider-vertical"></li>
                    {% if request.path == '/create' %}
                    <li class="active"><a href="{{ url_for('main.create') }}">New Fragment</a></li>
                    {% else %}
                    <li><a href="{{ url_for('main.create') }}">New Fragment</a></li>
                    {% endif %}
                    <li class="divider-vertical"></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if not current_user.username %}
                    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                    <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                    {% else %}
                    <li><a href="#">Welcome {{ current_user.username }}!</a></li>
                    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                    {% endif %}
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
</div>

<div class="container"  style="min-height: 750px">
    {% block container%}
    <div class="row">
        <div class="col-md-10">
            {% block header %}

            {% endblock header %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            {% if form and form.errors %}
            <div class="alert alert-error">Errors occured verifying your input. Please check the marked fields below.
            </div>
            {% endif %}
            {% block content %}
            {% endblock content %}
        </div>
        <div class="col-md-3 col-md-offset-1">
            {% block sidebar %}
            {% endblock sidebar %}
        </div>
    </div>
    {% endblock container%}
</div>
<footer class="main-footer">
    <p>Memento project built by <a href="https://threefish.xyz">ThreeFish</a>.</p>
    <p>
        <a href="#">Back to top</a>
    </p>
</footer>

<script type="text/javascript" src="{{ url_for('static', filename='jquery-3.2.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='ajaxfileupload.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='bootstrap-3.3.7/js/bootstrap.min.js') }}"></script>

{% block bottom_js %} {% endblock bottom_js %}
</body>
</html>
