{% extends "base.html" %}
{% block header_css%}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='highlights/github.css') }}">
{% endblock header_css%}

{% block container %}

      <div class="row">

        <div class="col-sm-8 main-main">

          <div class="main-post">
            <h2 class="main-post-title">{{ fragment.title }}</h2>
            <p class="main-post-meta">{{ fragment.updatetime }} by <a href="#">Mark</a></p>
            {{ fragment.html|safe }}
          </div><!-- /.main-post -->



          <nav>
            <ul class="pager">
              <li><a href="#">Previous</a></li>
              <li><a href="#">Next</a></li>
            </ul>
          </nav>

        </div><!-- /.main-main -->

        <div class="col-sm-3 col-sm-offset-1 main-sidebar">
          <div class="sidebar-module">
            <h4>Relative Branch</h4>
            <ol class="list-unstyled">
              {% for branch in branchs %}
              <li><a href="#">{{ branch.name }}</a></li>
              {% endfor %}
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
        </div><!-- /.main-sidebar -->

      </div><!-- /.row -->
{% endblock container %}
