{% extends "base.html" %}
{% block header_css%}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='highlights/github.css') }}">
{% endblock header_css%}

{% block container %}
<section class="single">
    <div class="container">
        <div class="row">

            <div class="col-md-9">
                <ol class="breadcrumb">
                    <li><a href="{{ url_for('main.home') }}">Home</a></li>
                    <li class="active">fragment</li>
                </ol>
                <article class="article main-article">
                    <header>
                        <h1>{{ fragment.title }}</h1>
                        <ul class="details">
                            <li>{{ fragment.updatetime }}</li>
                            <li><a>{{ fragment.branch.name }}</a></li>
                            <li>By <a href="#">{{ author_name }}</a></li>
                        </ul>
                    </header>
                    <div class="main">
                        {{ fragment.html|safe }}
                    </div>
                    <footer>
                        <div class="col">
                            <ul class="tags">
                                {% for tag in fragment.tags %}
                                <li><a href="{{ url_for('main.result_by_tag',name=tag.name,page=1) }}">{{ tag.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </footer>
                </article>
                <nav>
                    <ul class="pager">
                        <li><a href="{{ url_for('main.page',id=fragment.id-1) }}">Previous</a></li>
                        <li><a href="{{ url_for('main.page',id=fragment.id+1) }}">Next</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-3 sidebar" id="sidebar">
                <aside>
                    <h1 class="aside-title">Relative Branch</h1>
                    <div class="aside-body">
                        <div class="body-col">
                            <ol class="tags-list">
                                {% for branch in branchs %}
                                <li><a href="{{ url_for('main.result_by_branch',name=branch.name,page=1) }}">{{ branch.name }}</a></li>
                                {% endfor %}
                            </ol>
                        </div>
                    </div>
                </aside>
                <aside>
                    <h1 class="aside-title">Relative Fragments</h1>
                    <div class="aside-body">
                        <div class="body-col">
                            <ol class="tags-list">
                                {% if relative_fragments %}
                                {% for f in relative_fragments %}
                                {% if f.title != fragment.title %}
                                <li><a href="{{ url_for('main.page',id=f.id) }}">{{ f.title }}</a></li>
                                {% endif %}
                                {% endfor %}
                                {% else %}
                                no relative fragments yet.
                                {% endif %}
                            </ol>
                        </div>
                    </div>
                </aside>

            </div>
        </div>
    </div>
</section>
{% endblock container %}
