{% extends "base.html" %}
{% block header_css%}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='highlights/github.css') }}">
{% endblock header_css%}

{% block container %}

<div class="row">

    <div class="col-sm-8 main-main">

        <div class="main-post">
            <h2 class="main-post-title">{{ fragment.title }}</h2>
            <p class="main-post-meta">{{ fragment.updatetime }} by <a href="#">{{ author_name }}</a></p>
            {{ fragment.html|safe }}
        </div><!-- /.main-post -->


        <nav>
            <ul class="pager">
                <li><a href="{{ url_for('main.page',id=fragment.id-1) }}">Previous</a></li>
                <li><a href="{{ url_for('main.page',id=fragment.id+1) }}">Next</a></li>
            </ul>
        </nav>

    </div><!-- /.main-main -->

    <div class="col-sm-3 col-sm-offset-1 main-sidebar">
        <div class="sidebar-module">
            <h4>Relative Branch</h4>
            <ol class="list-unstyled">
                {% for branch in branchs %}
                <li><a href="{{ url_for('main.result_by_branch', name=branch.name,page=1) }}">{{ branch.name }}</a></li>
                {% endfor %}
            </ol>
        </div>
        <div class="sidebar-module">
            <h4>Relative Fragments</h4>
            <ol class="list-unstyled">
                {% if relative_fragments %}
                {% for f in relative_fragments %}
                {% if f.title != fragment.title %}
                <li><a href="{{ url_for('main.page',id=f.id) }}">{{ f.title }}</a></li>
                {% endif %}
                {% endfor %}
                {% else %}
                no relative fragments yet.
                {% endif %}
            </ol>
        </div>
    </div><!-- /.main-sidebar -->

</div><!-- /.row -->
{% endblock container %}
